{% extends "mobile/layout.html" %}
{% from "form_helper.html" import render_field %}

{% block content %}

<div>
	<p>支持时间格式：</p>
	<ul>
		<li>%Y-%m-%d %H:%M:%s - <font color="green">2012-11-11 11:11:11</font></li>
		<li>%Y-%m-%d %H:%M - <font color="green">2012-11-11 11:11</font></li>
		<li>%Y年%m月%d日%H:%M - <font color="green">2012年11月11日 11:11</font></li>
	</ul>
</div>
<form class="admin_form" method="POST">
  <dl>
    {{ render_field(form.id) }}
	<dt>{{ title }}</dt>
	<br/>
    {{ render_field(form.title, size=50) }}
	{{ render_field(form.date, size=50) }} 
    {{ render_field(form.place, size=50) }}
  </dl>
  <p><input type="submit" value="Submit"></p>
</form>

<div class="result">
	{{ fulltext | safe }}
</div>
{% endblock %}
