{% extends "mobile/layout.html" %}
{% from "macros.html" import render_mobile_pagination %}

{% block content %}

<div>
	{% if not is_published %}
	{% set param = '?is_published=true' %}
	{% set text = '已发布' %}
	{% else %}
	{% set param = '' %}
	{% set text= '未发布' %}
	{% endif %}
	<a style="float:right" href = "{{ request.base_url + param }}">切换到{{ text }}</a>
	<a href="{{ url_for('admin.index') }}">返回</a>
</div>
<div class="result">
	<ul class="job-list">

		{% for job in jobs %}
		<li class="job">
		<div style="float:right;">
			<form method="POST" action="{{ url_for("admin.admin_news_delete", id=job.id, url=request.url) }}">
				<input type="submit" value="Delete">
			</form>
		</div>
		<a href="{{ url_for('admin.admin_news', id=job.id) }}">{{ job.title }}</a>
		</li>
		{% endfor %}
	</ul>
</div>

{{ render_mobile_pagination(list_page, url_for('admin.admin_feeds', id=fid)) }}
{% endblock %}
