{% extends "mobile/layout.html" %}
{% from "macros.html" import render_mobile_pagination %}

{% block content %}

<div class="result-title">
	<table>
		<tr>
			<td>
				<h2>我的收藏</h2>
			</td>
			<td>
				<a href="/">返回首页</a>
			</td>
		</tr>
	</table>
</div>

<div class="result">
	<ul class="job-list">
	{% for job in jobs %}
	<li class="job"><a href="{{ url_for('news.fulltext', aid=job.id, request_url=request.url) }}">{{ job.title }}</a></li>
	{% endfor %}
	</ul>
</div>

{{ render_mobile_pagination(list_page, url_for('news.get_favorite_by_user')) }}

<div class="back-btn">
	<a href="/">返回首页</a>
</div>
{% endblock %}
