{% extends "mobile/layout.html" %}

{% block content %}

{% if favorite %}
{% set url = '/news/fulltext/{0}?action=delete&fid={1}'.format(article.id, feed_id) %}
{% set button_display = '取消收藏' %}
{% else %}
{% set url = '/news/fulltext/{0}?action=add&fid={1}'.format(article.id, feed_id) %}
{% set button_display = '加入收藏' %}
{% endif %}

<form action="{{ url }}" method="post">
    <div class="favorite-btn">
        <button class="btn btn-small" type="submit">{{ button_display }}</button>
        {% if request_url %}
        <a class="btn btn-small" href="{{ request_url }}">返回</a>
        {% else %}
        <a class="btn btn-small" href="/">返回</a>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</form>

<div class="fulltext-detail">
    {{ fulltext | safe }}
</div>

<div class="back-btn">
    <a href="{{ request_url }}" class="btn btn-small">返回</a>
    <div class="clearfix"></div>
</div>


{% endblock %}
