{% extends "mobile/layout.html" %}

{% block subtitle %}找工作{% endblock %}

{% block content %}

{% if favorite %}
{% set url = '/news/fulltext/{0}?action=delete&fid={1}'.format(article.id, feed_id) %}
{% set button_display = '取消收藏' %}
{% else %}
{% set url = '/news/fulltext/{0}?action=add&fid={1}'.format(article.id, feed_id) %}
{% set button_display = '加入收藏' %}
{% endif %}

<form action="{{ url }}" method="post" id="add-favorite">
    <div class="btn-group fulltext-btn-group">
        <button class="btn r" type="submit">{{ button_display }}</button>
        {% if request_url %}
        <a class="btn r" href="{{ request_url }}">返回</a>
        {% else %}
        <a class="btn r" href="/">返回</a>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</form>

<div class="fulltext-detail">
    {{ fulltext | safe }}
</div>

<div class="btn-group fulltext-btn-group">
    <a href="{{ request_url }}" class="btn r">返回</a>
    <div class="clearfix"></div>
</div>
{% if not g.current_user %}
<script type="text/javascript">
var addNewTab = function() {
    if(window != window.top) {
        var add_favorite = $("#add-favorite"); 
        add_favorite.attr('target', '_blank'); 
    }
}
if(window.addEventListener) {
    window.addEventListener('load', addNewTab, false); 
}else if(window.attachEvent) {
    window.attachEvent('onload', addNewTab); 
}
</script>
{% endif %}
{% endblock %}
